@mixin content() {
  .img-box {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .vertical-layout {
    @apply flex flex-col h-[100vh] bg-[#F6F7FB] overflow-hidden;
  }
}
