$prefix: rr-;
$design-size: 39; // iphone12 pro设计稿像素值 390*844 dpr:3.0

$bg-body: #F7F8FA;
$shadow-1: 0 2px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
$shadow-2: 0 2px 12px 0 rgb(0 0 0 / 10%);
$color-white: #FFFFFF;
$color-black: #000000;
$color-shallow-black: #333333;
$color-grey: #D6D6D6;
$color-shallow-grey: #F2F2F2;
$color-brand: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;
$color-text-1: #303133;
$color-text-2: #606266;
$color-text-3: #909399;
$color-text-4: #C0C4CC;
$color-text-4: #969799;
$color-text-light: $color-white;
$color-text-dark: #323233;
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;
$font-size-1: 20px;
$font-size-2: 18px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;
